@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .hover-underline {
    @apply relative;
  }

  .hover-underline::after {
    @apply content-[''] bg-theme-secondary h-[1.5px] absolute w-[0%] left-1/2 transform -translate-x-1/2 -bottom-[5px] rounded-xl duration-300;
  }

  .hover-underline:hover::after {
    @apply w-full;
  }
}

.box-card {
  box-shadow: 10px 10px 32px 5px rgba(210, 210, 210, 0.75) inset;
  -webkit-box-shadow: 10px 10px 32px 5px rgba(210, 210, 210, 0.75) inset;
  -moz-box-shadow: 10px 10px 32px 5px rgba(210, 210, 210, 0.75) inset;
}
